{% extends 'base.html.twig' %}

{% block title %}Offre
{% endblock %}

{% block body %}
	<div class="row">

		<div class="col-xl-12 col-lg-12 order-lg-12" style="width: 18rem;margin-top: 10px;">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">{{offre.title}}</h5>
					<p class="card-text">{{ offre.description }}</p>
					<p class="card-text">
						Contract :
						{{ offre.contrat }}</p>
					<p class="card-text">Temp :
						{{ offre.TypeContrat }}</p>
					<p class="card-text">Address :
						{{ offre.Adresse }}</p>


					<p class="card-text">Date de creation :
						{{  offre.DateCrea |date("m/d/Y")}},
												Date de modification :
						{{  offre.DateUpdate |date("m/d/Y")}},
												Date de fin de contrat :
						{{  offre.EndMission |date("m/d/Y")}}</p>
				</div>
			</div>
		</div>

	</div>

{% endblock %}
